<h2> Compost </h2>
Our compost systems are the cornerstone of our educational programs and foundation of our productive food systems.

3-bin system: We accept residential food scraps year-round, any time of the day. Look for the open bin and signage.
Windrows: Built with food scraps from NYC GreenMarkets. Our piles are biodynamic. Come check ‘em out!
Leaf mold: We are a Project LeafDrop host site! Bring us your organic yard clippings.
Vermicompost: Worms! They eat detritus, fruit+veggie scraps are their favorite. Worm castings are pure black gold.
Bokashi: “Fermented organic matter” in Japanese. Microorganisms anaerobically ferment all types of food scraps.
Mushroom compost: Mycelium breaks down carbon rich material (wood chips, cardboard, etc) to make compost.
