<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-8 mr-auto text-left d-flex justify-content-center flex-column">
          <h2 class="display-2">Welcome to <span>Smiling Hogshead Ranch!</span></h2>
          <p class="lead mt-0">We are an <bold class="text-success bold">urban farm collective in New York City. </bold><br />
            Our mission is to create a culture that empowers and connects our communities through <bold class="text-success bold">ecology, education and collaboration.</bold></p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="section features-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <span class="badge badge-primary badge-pill mb-3">Spring 2022 </span>
        <h3 class="display-3">Announcements</h3>
        <p class="lead">Come join us on our upcoming public events at the Ranch. We look forward to meeting you!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-settings-gear-65"></i>
          </div>
          <h6 class="info-title text-uppercase text-primary">Sat, April 23, Earth Day</h6>
          <p class="description opacity-8">We are celebrating Earth Day with a free tree give-away, in partnership with New York Restoration Project.</p>
          <a href="https://www.nyrp.org/en/get-involved/events/tree-giveaway-smiling-hogshead-ranch/" class="text-primary">Register here
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
            <i class="ni ni-atom"></i>
          </div>
          <h6 class="info-title text-uppercase text-success">Sat, April 30, Spring Planting Day</h6>
          <p class="description opacity-8">We are thrilled to host our annual event where we get the Ranch ready and plant many of the vegetables, fruits and flowers for the season.</p>
          <a href="javascript:;" class="text-primary">Register Here
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
            <i class="ni ni-world"></i>
          </div>
          <h6 class="info-title text-uppercase text-warning">Weekly Farming Fridays</h6>
          <p class="description opacity-8">We'll be at the ranch volunteering on our weekly workdays. </p>
          <a href="javascript:;" class="text-primary">
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-html5 text-info"></i>
            </div>
            <div class="description pl-4 mb-16">
              <h5 class="title">For New Members</h5>
              <p>We are excited to be welcoming new members as the new season starts. There will be many opportunities to help at the Ranch and participate in various events.</p>
              <a href="membership.html" class="text-info">Learn more</a>
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-app text-info"></i>
            </div>
            <div class="description pl-4" mb-16>
              <h5 class="title">For Educators and Groups</h5>
              <p>We facilitate school tours and field trips, providing garden educator trainings. Students explore and engage with our immersive learning opportunities.</p>
              <a href="education.html" class="text-info">Learn more</a>
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-bell-55 text-info"></i>
            </div>
            <div class="description pl-4 mb-16">
              <h5 class="title">For Composters</h5>
              <p>We will take your food scraps! We are supported by our partners at <a href="https://bigreuse.org" />Big Reuse</a> and our volunteers' work to make our city more sustainable.
              </p>
              <a href="compost.html" class="text-info">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-10 mx-md-auto">
          <img class="ml-lg-5" src="{{ '/assets/img/ill/ill.png' | relative_url }}" width="100%">
        </div>
      </div>
    </div>
  </div>

