<div class="contactus-3 fullWidth">
    <div class="page-header">
        <img class="bg-image" src="{{ '/assets/img/ill/bg_contactus3.svg' | relative_url }}" alt="">
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1">Got a question?</h1>
        <h3 class="lead"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-square-pin"></i>
          </div>
          <h4 class="info-title">Address</h4>
          <p class="description px-0">25-30 Skillman Ave<br />
            Long Island City, NY 11101</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-email-83"></i>
          </div>
          <h4 class="info-title">Email</h4>
          <p class="description px-0">SmilingHogsHeadRanch@gmail.com</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-mobile-button"></i>
          </div>
          <h4 class="info-title">Phone</h4>
          <p class="description px-0">+1(347)-509-4464</p>
        </div>
      </div>
    </div>
  </div>
</div>