<section id="active-membership">
    <div class="row">
        <h3 class="display-3">Active Membership</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-pricing bg-white border-0 text-center mb-4">
                <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 py-3 mb-0">Benefits</h6>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled my-4">
                        <li> Harvesting crops</li>
                        <li> Tool lending/borrowing privileges</li>
                        <li> Your voice in Ranch decision making</li>
                        <li> Private party access (for groups of max. 20 with prior approval)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-pricing bg-white border-0 text-center mb-4">
                <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 py-3 mb-0">Requirements</h6>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled my-4">
                        <li>Volunteer <b class="text-success">six (6) Hours per month</b></li>
                        <li>Active participation on a minimum of <b class="text-success">one (1) committee</b></li>
                        <li>Hosting/Co-Hosting <b class="text-success">two (2) workdays/events per year</b></li>
                      <li>Attendance of <b class="text-success">at least three (3) membership meetings </b> per year</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col-md-4">
            <div class="card card-pricing bg-gradient-info border-0 text-center mb-4">
                <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Student</h6>
                </div>
                <div class="card-body">
                    <div class="display-2 text-white">$20</div>
                    <span class=" text-white">per year</span>
                    <p>$20 is tax deductible</p>
                    <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-pricing bg-gradient-warning border-0 text-center mb-4">
                <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Individual</h6>
                </div>
                <div class="card-body">
                    <div class="display-2 text-white">$35</div>
                    <span class=" text-white">per year</span>
                    <p>$35 is tax deductible</p>
                    <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-pricing bg-gradient-success border-0 text-center mb-4">
                <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Family</h6>
                </div>
                <div class="card-body">
                    <div class="display-2 text-white">$60</div>
                    <span class=" text-white">per month</span>
                    <p>$60 is tax deductible</p>
                    <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</section>
