<div class="pricing-1" id="active-membership">
    <div class="container">
      <div class="row">
        <h3>Active Membership</h3>
        <h4>Strong service component with the greatest benefits!</h4>
        All levels include:
        <ul class="list-unstyled my-4">
          <li>Get free entry to all events</li>
            <li> Harvesting crops</li>
            <li> Tool lending/borrowing privileges</li>
            <li> Voice in decision making</li>
            <li> private party access (for groups of 20 or less with prior approval)</li>
        </ul>
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-info border-0 text-center mb-4" >
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Student</h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$20</div>
              <span class=" text-white">per year</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-book-bookmark"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Six (6) Hours of Volunteer-work per month</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-diamond"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Active participation on a minimum of one (1) committee</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Hosting/Co-Hosting two (2) workdays/events per year</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Attendance of at least three (3) membership meetings per year</span>
                    </div>
                  </div>
                </li>
              </ul>
              <p>$20 is tax deductible</p>
              <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-warning border-0 text-center mb-4" >
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Individual</h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$35</div>
              <span class=" text-white">per year</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-book-bookmark"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Six (6) Hours of Volunteer-work per month</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-diamond"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Active participation on a minimum of one (1) committee</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-warning">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Hosting/Co-Hosting two (2) workdays/events per year</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Attendance of at least three (3) membership meetings per year</span>
                    </div>
                  </div>
                </li>
              </ul>
              <p>$35 is tax deductible</p>
              <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing bg-gradient-success border-0 text-center mb-4" >
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Family</h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$60</div>
              <span class=" text-white">per month</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-savings"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Six (6) Hours of Volunteer-work per month</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-diamond"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Active participation on a minimum of one (1) committee</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Hosting/Co-Hosting two (2) workdays/events per year</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-info">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Attendance of at least three (3) membership meetings per year</span>
                    </div>
                  </div>
                </li>
              </ul>
              <p>$60 is tax deductible</p>
              <button type="button" class="btn btn-link text-white mb-3">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>