<section class="pricing-5" id="corporate-patron" style="background-image: url('{{ '/assets/img/ill/bg_pricing5.svg' | relative_url }}');">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center flex-column">
          <h3 class="display-3 mt-3">Corporate Patron</h3>
        </div>
        <div class="col-lg-7 col-md-8 ml-auto mr-auto">
          <div class="">
            <h2>$250+ per year</h2>
            <div class="card-footer bg-transparent">
              <p>$250+ is tax deductible</p>
              <a href="#!">Join/Renew</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>