<section id="patron" style="background-image: url('{{ '/assets/img/ill/bg_pricing5.svg' | relative_url }}');">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center flex-column">
        <h3 class="display-3 mt-3">Patron Membership</h3>
        <p class="lead mt-0">Ideal for those who can't make the regular service commitment</p>
        All levels include:
        <ul class="list-unstyled my-4">
          <li>Stay up to date through our newsletter</li>
          <li>Receive an unique token of Thank You appreciation gift from the Ranch</li>
        </ul>
      </div>
      <div class="col-lg-7 col-md-8 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-pricing bg-white border-0 text-center mb-4">
                  <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 py-3 mb-0">Individual</h6>
                  </div>
                  <div class="card-body">
                    <div class="display-2">$70</div>
                    <span>per year</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center">
                        Attendance of <b class="text-primary">at least one (1)</b> <span>membership meeting</span>
                      </li>
                      <li class="align-items-center">
                        Attendance of <b class="text-primary">at least one (1)</b> <span>volunteer event per year</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer bg-transparent">
                    <p>$70 is tax deductible</p>
                    <a href="#!">Join/Renew</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-pricing bg-white border-0 text-center mb-4">
                  <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 py-3 mb-0">Family</h6>
                  </div>
                  <div class="card-body">
                    <div class="display-2">$120</div>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          Attendance of <b class="text-primary">at least one (1)</b> <span>membership meeting</span>
                        </li>
                        <li class="align-items-center">
                          Attendance of <b class="text-primary">at least one (1)</b> <span>volunteer event per year</span>
                        </li>
                      </ul>
                    </ul>
                  </div>
                  <div class="card-footer bg-transparent">
                    <p>$120 is tax deductible</p>
                    <a href="#!">Join/Renew</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
